#Database settings
DB__NAME=your_name
DB__USER=your_name
DB__PASSWORD=your_password
DB__HOST=db
DB__PORT=5432

#JWT settings
JWT__ALGORITHM=RS256
JWT__PRIVATE_KEY_PATH=keys/your_private.pem
JWT__PUBLIC_KEY_PATH=keys/your_public.pem

#Deploy settings
DEPLOY__ALLOW_ORIGINS=["http://localhost:3000"]
DEPLOY__ALLOW_CREDENTIALS=true
DEPLOY__ALLOW_HEADERS=["*"]
DEPLOY__ALLOW_METHODS=["*"]