#Database settings
DB__NAME=
DB__USER=
DB__PASSWORD=
DB__HOST=
DB__PORT=

#JWT settings
JWT__SECRET_KEY=
JWT__ALGORITHM=

#Deploy settings
DEPLOY__ALLOW_ORIGINS=["http://localhost:3000"]
DEPLOY__ALLOW_CREDENTIALS=true
DEPLOY__ALLOW_HEADERS=["*"]
DEPLOY__ALLOW_METHODS=["*"]